[Unit]
Description=powercontrol-server
After=network.target

[Service]
Type=simple
WorkingDirectory=INSTALL_DIR
ExecStart=INSTALL_DIR/powercontrol-server.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
